html {
  height: 100%;
  background: linear-gradient(135deg, #0f0f0f, #333333);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body {
  min-height: 100%;
  margin: 0; /* Remove a margem padrão */
  padding: 0; /* Remove o padding padrão */
}

.to-do-list {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 100px;
}

h1 {
  font-size: 4rem;
  color: white;
}

button {
  font-size: 1.7rem;
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-button {
  background-color: #4caf50;
  margin-left: 10px;
}

.add-button:hover {
  background-color: #45a049;
}

.clear-button {
  background-color: #ffa500;
  margin-left: 10px;
}

.clear-button:hover {
  background-color: #ff8c00;
}

.delete-button {
  background-color: #ff6347;
}

.delete-button:hover {
  background-color: #ff4500;
}

.move-button {
  background-color: #1e90ff;
}

.move-button:hover {
  background-color: #1c86ee;
}

input[type="text"] {
  font-size: 1.6rem;
  padding: 10px;
  border: 2px solid #696969;
  border-radius: 5px;
  color: white;
  background-color: #333333;
}

ol {
  padding: 0;
  max-width: 45rem;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2rem;
}

li {
  font-size: 2rem;
  font-weight: bold;
  padding: 15px;
  background-color: #1e1e1e;
  margin-bottom: 10px;
  border: 2px solid #444444;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.text {
  flex: 1;
  color: white;
}

.delete-button,
.move-button {
  padding: 8px 12px;
  font-size: 1.4rem;
  margin-left: 10px;
}
